<div class="container-fluid bg-light" style="max-width: 85%; padding: 20px 0 40px 0;">
  <div class="container p-0">
    <h2 class="mb-3">Contact</h2>
    <p class="mb-4">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="bg-secondary bg-opacity-10 p-4 rounded">
          <form>
            <div class="row mb-3">
              <label for="emailInput" class="col-sm-3 col-form-label fw-bold">Your E-mail</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="emailInput" placeholder="Your Email">
              </div>
            </div>
            <div class="row mb-3">
              <label for="messageTextarea" class="col-sm-3 col-form-label fw-bold">Your message</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="messageTextarea" rows="3" placeholder="Please enter your message here..."></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-9 offset-sm-3 d-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--JOSE DIEZ HASTA AQUI.-->