<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>firstheading</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
    <hr style="width: 85%; margin: 50px auto 30px auto;">

    <div class="container-fluid bg-light" style="width: 85%;">
        <div class="row justify-content-center">
            <div class="col-9 ps-0">
                <h2>This First Heading Will Catch Your Eye</h2>
                <p>Donec ullamcorper nulla non metus auctor fringila.
                    Vestibuilum id ligula porta felis euismod semper. Praesent
                    commodo cursus magna, vel scelerique nisl
                    consectetur. Fucse dapibus, tellus ac cursus commodo
                </p>
            </div>
            <div class="col-3 pe-0" style="text-align: right; align-content: center;">
                <img src="./assets/img/1.jpg" alt="Imagenderecha"
                    style="width: 20vw; aspect-ratio: 1/1; border-radius: 50%;">
            </div>
        </div>
    </div>
</body>

</html>