<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>firstheading</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
    <div class="container-fluid bg-light">
        <div class="row">
            <div class="col-9">
                <h5>This First Heading Will Catch Your Eye</h5>
                <h6>Donec ullamcorper nulla non metus auctor fringila.
                    Vestibuilum id ligula porta felis euismod semper. Praesent
                    commodo cursus magna, vel scelerique nisl
                    consectetur. Fucse dapibus, tellus ac cursus commodo
                </h6>
            </div>
            <div class="col-3" style="text-align: right;">
                <img src="./assets/img/1.jpg" alt="Imagenderecha"
                    style="width: 200px; height: 200px; border-radius: 50%;">
            </div>
        </div>
    </div>
</body>

</html>