<!-- JOSE DIEZ DESDE AQUI HASTA.... -->
<div class="container-fluid bg-light">
      <h5>Portfolio</h5>
      <div class="row">
            <div class="col-4">
                  <img src="../assets/img/big-project-image.png" class="img" alt="...">

                  <h7>Project name</h7>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna
                        Varius Vilde</p>
            </div>
            <div class="col-4">

                  <img src="../assets/img/big-project-image.png" class="img" alt="...">
                  <h7>Project name</h7>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna
                        Varius Vilde</p>
            </div>
            <div class="col-4">

                  <img src="../assets/img/big-project-image.png" class="img" alt="...">
                  <h7>Project name</h7>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna
                        Varius Vilde</p>
            </div>


      </div>



</div>
<!-- HASTA AQUI Y ...-->